<div class="ui raised very padded text container segment">
  <h2 class="ui header">
    Feed de publicações
  </h2>
  <div class="ui feed">
    <% posts.reverse_each do |post| %>
      <div class="event">
        <div class="label">
          <%= image_tag post.user.avatar.url(:thumb) %>
        </div>
        <div class="content">
          <div class="summary">
            <%= link_to post.user.first_name, user_path(post.user) %>
            fez uma <%= link_to "publicação", post_path(post) %>
            <div class="date">
              <%= I18n.l post.created_at, format: :long %>
            </div>
          </div>
          <div class="extra text">
            <%= post.content %>
          </div>
          <div class="extra images">
            <% if post.picture.exists? %>
              <%= image_tag post.picture.url(:medium) %>
            <% end %>
          </div>
          <div class="meta">
            <%= post.comments.size %> comentários
          </div>
        </div>
      </div>
    <% end %>
  </div>
</div>
