<div class="ui middle aligned center aligned grid">
  <div class="eight wide column">
    <div class="ui stacked segment">
        <%= form_for(resource, as: resource_name, url: registration_path(resource_name), html: { class: "ui form", method: :put }) do |f| %>
        <%= devise_error_messages! %>

        <%= image_tag current_user.avatar.url(:medium), class: "ui avatar image" %>

        <div class="field">
          <label>Avatar</label>
          <%= f.file_field :avatar %>
        </div>
      
        <div class="field">
          <div class="two fields">
            <div class="field">
              <%= f.text_field :first_name, autofocus: true, placeholder: "Primeiro nome" %>
            </div>
            <div class="field">
              <%= f.text_field :last_name, autofocus: true, placeholder: "Último nome" %>
            </div>
          </div>
        </div>
        
        <div class="field">
          <%= f.text_field :username, autofocus: true, placeholder: "Nome de usário" %>
        </div>
      
        <div class="field">
          <%= f.email_field :email, autofocus: true, autocomplete: "email", placeholder: "Email" %>
        </div>

        <div class="field">
          <%= f.password_field :password, autocomplete: "off", placeholder: "Senha (deixe em branco se você não quiser alterá-la)"  %>
          <% if @minimum_password_length %>
            <em><%= @minimum_password_length %> mínimo</em>
          <% end %>
        </div>
      
        <div class="field">
          <%= f.password_field :password_confirmation, autocomplete: "off", placeholder: "Confirme sua senha" %>
        </div>
      
        <div class="field">
          <%= f.password_field :current_password, autocomplete: "off", placeholder: "Precisamos de sua senha atual para confirmar as alterações" %>
        </div>

        <div class="field">
          <%= f.text_area :description, placeholder: "Fale um pouco sobre você..." %>
        </div>
      
        <div class="actions">
          <%= f.submit "Salvar", class: "positive ui button" %>
        </div>
      <% end %>
      
      <p>Cansou de nós? :'( <%= button_to "Apagar minha conta", registration_path(resource_name), data: { confirm: "Você tem certeza?" }, method: :delete, class: "negative ui button" %></p>
      
      <%= link_to "Voltar", :back %>
    </div>
  </div>
</div>


