<h3>Usuários</h3>
<% @users.each do |user| %>
  <%= user.username %>
<% end %>

<hr>

<div class="ui feed">
  <% @posts.each do |post| %>
    <div class="event">
      <div class="label">
        <%= image_tag post.user.avatar.url(:thumb) %>
      </div>
      <div class="content">
        <div class="summary">
          <%= link_to post.user.first_name, user_path(post.user) %> fez uma publicação
          <div class="date">
            <%= post.created_at.strftime("%B %d, %Y") %>
          </div>
        </div>
        <div class="extra text">
          <%= post.content %>
        </div>
      </div>
    </div>
  <% end %>
</div>
