<div class="ui two column doubling stackable grid container">
  <div class="five wide center aligned column">
    <div class="ui people shape">
      <div class="sides">
        <div class="active side">
          <div class="ui card">
            <div class="image">
              <%= image_tag @user.avatar.url(:medium) %>
            </div>
            <div class="content">
              <div class="header">
                <%= "#{@user.first_name} #{ @user.last_name }" %>
                <% if current_user.id != @user.id %>
                  <% if !current_user.following?(@user)  %>
                    <%= form_for(current_user.active_relationships.build) do |f| %>
                      <%= hidden_field_tag :following_id, @user.id %>
                      <%= f.submit "Seguir", class: "ui mini primary basic button" %>
                    <% end %>
                  <% else %>
                    <%= form_for(current_user.active_relationships.find_by(following_id: @user.id), method: :delete) do |f| %>
                      <%= f.submit "Deixar de seguir", method: :delete, class: "ui mini negative basic button" %>
                    <% end %>
                  <% end %>
                <% end %>
              </div>
              <div class="meta">
                <a>@<%= @user.username %></a>
              </div>
              <div class="description">
                
              </div>
            </div>
            <div class="extra content">
              <span class="right floated">
                Entrou em <%= @user.created_at.strftime("%B %d, %Y") %>
              </span>
              <span>
                <i class="user icon"></i>
                <%= @user.followers_count.size %>
              </span>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>

  <div class="eleven wide column">
    <div class="ui text container">
      <h1>Publicações de <%= @user.first_name %></h1>
      <% if @user.id == current_user.id %>
        <%= link_to 'Nova publicação', new_post_path, class: "circular ui icon button" %>
      <% end %>
      <div class="ui feed">
        <% @user.posts.reverse_each do |post| %>
          <div class="event">
            <div class="label">
              <%= image_tag post.user.avatar.url(:thumb) %>
            </div>
            <div class="content">
              <div class="summary">
                <%= link_to post.user.first_name, user_path(post.user) %>
                fez uma <%= link_to "publicação", post_path(post) %>
                <div class="date">
                  <%= post.created_at.strftime("%B %d, %Y") %>
                </div>
              </div>
              <div class="extra text">
                <%= post.content %>
              </div>
            </div>
          </div>
        <% end %>
      </div>
    </div>
  </div>
</div>


