<h1>Publicações de <%= @user.first_name %></h1>

<% if current_user.id != @user.id %>
  <% if !current_user.following?(@user)  %>
    <%= form_for(current_user.active_relationships.build) do |f| %>
      <%= hidden_field_tag :following_id, @user.id %>
      <%= f.submit "Seguir" %>
    <% end %>
  <% else %>
    <%= form_for(current_user.active_relationships.find_by(following_id: @user.id), method: :delete) do |f| %>
      <%= f.submit "Deixar de seguir", method: :delete %>
    <% end %>
  <% end %>
<% end %>

<div class="ui feed">
    <% @user.posts.each do |post| %>
      <div class="event">
        <div class="label">
          <%= image_tag post.user.avatar.url(:thumb) %>
        </div>
        <div class="content">
          <div class="summary">
            <%= link_to post.user.first_name, user_path(post.user), class: "item" %> fez uma publicação
            <div class="date">
              <%= post.created_at.strftime("%B %d, %Y") %>
            </div>
          </div>
          <div class="extra text">
            <%= post.content %>
          </div>
        </div>
      </div>
    <% end %>
  </div>
<br>

<% if @user.id == current_user.id %>
  <%= link_to 'New Post', new_post_path %>
<% end %>