<%= form_with(model: post, local: true, html: { class: "ui form" }) do |form| %>
  <% if post.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(post.errors.count, "error") %> impedem a publicação...:</h2>
      <ul>
      <% post.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= form.text_area :content, id: :post_content, placeholder: "Escreva algo interessante sobre você ou o que está fazendo..." %>
  </div>

  <div class="actions">
    <%= form.submit "Publicar", class: "positive ui button" %>
  </div>
<% end %>
