<div class="ui raised very padded text container segment">
  <h2 class="ui header">
    <%= image_tag @post.user.avatar.url(:medium), class: "ui avatar image" %>
    <%= link_to "#{@post.user.first_name} #{@post.user.last_name}", user_path(@post.user) %>
    <%= %>
  </h2>
  
  <% if @post.picture.exists? %>
    <p>
        <%= image_tag @post.picture.url(:medium), width: "600" %>
    </p>    
  <% end %>

  <p id="post_content"><%= @post.content %></p>
  
  <div class="meta">
    <%= I18n.l @post.created_at, format: :long %>
  </div>
  <hr>
  <%= render partial: 'comments/comments', locals: { commentable: @post } %>
</div>

<%= link_to 'Voltar', :back %>
