<!DOCTYPE html>
<html>
  <head>
    <title>Youdo</title>
    <%= csrf_meta_tags %>
    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>
    <div class="content">
      <div class="ui secondary menu">
        <a class="active item">
          Feed
        </a>
        <%= link_to "Posts", posts_path, class: "item" if user_signed_in? %>
        <div class="right menu">
          <div class="item">
            <div class="ui icon input">
              <input type="text" placeholder="Search...">
              <i class="search link icon"></i>
            </div>
          </div>
          <% if user_signed_in? %>
            <%= link_to "Sair", destroy_user_session_path, method: :delete, class: "ui item" %>
          <% else %>
            <%= link_to "Inscreva-se", new_user_registration_path, class: 'ui item' %>
            <%= link_to "Entrar", new_user_session_path, class: "ui item" %>
          <% end %>
        </div>
      </div>

      <p id="alert"><%= alert %></p>
      <p id="notice"><%= notice %></p>
      <%= yield %>
    </div>
  </body>
</html>
