<!DOCTYPE html>
<html>
  <head>
    <title>Youdo</title>
    <%= csrf_meta_tags %>
    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>
    <div class="page-content">
      <div class="ui secondary menu">
        <%= link_to "Feed", feed_index_path, class: "item" %>
        <%= link_to "@#{ current_user.username }", user_path(current_user), class: "item" if user_signed_in? %>
        <div class="right menu">
          <div class="item">
              <%= form_tag('/search', method: :get) do %>
                <div class="ui input">
                  <%= text_field_tag :term, params[:term], placeholder: 'Pesquisar' %>
                </div>
                <%= submit_tag 'Pesquisar', class: "ui basic button" %>
              <% end %>
          </div>
          <% if user_signed_in? %>
            <%= link_to "Sair", destroy_user_session_path, method: :delete, class: "ui item" %>
          <% else %>
            <%= link_to "Inscreva-se", new_user_registration_path, class: 'ui item' %>
            <%= link_to "Entrar", new_user_session_path, class: "ui item" %>
          <% end %>
        </div>
      </div>

      <% if alert %>
        <div class="ui warning message">
          <i class="close icon"></i>
          <div class="header">
            Houve um problema...
          </div>
          <%= alert %>
        </div>
      <% end %>

      <% if notice %>
        <div class="ui success message">
          <i class="close icon"></i>
          <div class="header">
            Concluído!
          </div>
          <%= notice %>
        </div>
      <% end %>
      
      <%= yield %>
    </div>
  </body>
</html>

<script>
  $('.message .close')
    .on('click', function() {
      $(this)
        .closest('.message')
        .transition('fade')
      ;
    });
</script>
